.gitmodules
/test/libs/*

# Don't sync logfiles
*.out

# Downloaded packages
*.deb

# Runner
src/gitlab_runner_token.txt

# Don't sync original source files
src/originals/*

# logs
src/logs/*

# creds
src/creds.txt

# get runner authentication token artifacts
gitlab-cookies.txt
gitlab-header.txt

# test_artifacts
test/timestamp.txt

# code to get runner registration token
get-gitlab-runner-registration-token/*
get-gitlab-runner-registration-token
src/runner_registration_token.txt